/* Campo de Nome */
input[type=text]{
    padding: 10px;
    padding-right: 150px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    margin-left: 12px;
}

/* Campo de Senha */
input[type=password]{
    padding: 10px;
    padding-right: 150px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 100px;
    border: none;
    margin-top: 10px;
    margin-left: 12px;
}

/* Campo de Email */
#inputEmail{
    padding: 10px;
    padding-right: 150px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 100px;
    border: none;
    margin-top: 20px;
    margin-left: 25px;
}

/* Campo de Telefone */
#inputTelefone{
    padding: 10px;
    padding-right: 150px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 100px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
}

/* Botão de Enviar, Submit */
#enviar {
  appearance:none;
  -webkit-appearance:none;

  margin-top: 30px;
  padding:10px;
  border:none;
  background-color:#f59351;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100px;
  margin-left: 140px;
  cursor: alias;
}

#enviar:hover{
    background-color:#c9504a;
    cursor: alias;
}

/* Título de Login */
#headerLogin {
    margin-left: 130px;
}

/* Container com todos os elementos */
.login-form {
    margin-left: 530px;
    margin-top: 35px;
}

/* Customização dos Labels */
#labelNome{
    margin-right: 10px;
}

#labelSenha{
    margin-right: 8px;
}